.App {
  min-height: 100vh;
  background-image: linear-gradient(#FFB736 0%, rgba(255, 255, 255, 0) 100%);
}

.App .github-link {
  position: fixed;
  bottom: 30px;
  right: 40px;
}

.App .github-link:hover {
  opacity: .6;
  transition: all .3s ease;
}

.App .github-link img {
  width: 50px;
}

